*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header {
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* above knowledge*/
}

/* sizing logo */
.logo{
    width: 210px;
}
nav ul li{
    display: inline-block; /* to align all list item in a horizontal line */
    margin: 0 20px;
}

/* designing anchor tags of list items */
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

a:hover{
    border-bottom: 5px solid red;
    font-size: 23.5px;
    transition: 0.8s ease;
}

.header-text {
    margin-top: 80px;
    font-size: 30px;
}

.header-text h1 span{
    color: #ff004f;
}

/* ------------------------------------------ABOUT CSS STARTS-------------------------------------- */
.about-col1 img{
    width: 110%;
    height: auto;
    border-radius: 10%;
    /* flex-basis: 100%; */
}
#about{
    padding: 100px 20px;
    color: blanchedalmond;
    background: rgb(10, 10, 10);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
}
.about-col2{
    flex-basis: 55%;
}
.sub-title{
    font-size: 60px;
}
.tabs{
    display: flex;
    margin: 20px 0 ;
}
.tabs-lists{
    margin-right: 50px;
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
.tabs p:active{
    color: salmon;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #ff004f;
    font-size: 22px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* ------------------------------------------- SERVICES CSS STARTS--------------------------------- */
#service{
    padding: 38px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 50px;
    font-size: 25px;
    border-radius: 40px;
    transition: 0.8s;
}
.service-list div i{
    font-size: 80px;
    margin-bottom: 38px;
    color: #ffffff;
}
.service-list div h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #d5d825;
}
.service-list div:hover{
    background: purple;
    transform: translateY(-15px);
    transition: 0.5s;
}

/* ---------------------------------------- PORTFOLIO CSS STARTS ---------------------------------- */
#portfolio{
    /* padding: 50px 0; */
    padding: 130px 0px;
    background: rgb(10, 10, 10);
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.8s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6), #923592);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
}
.layer h3{
    margin-bottom: 20px;
    font-size: 30px;

}
.work:hover img{
    transform: scale(1.2);
}
.work:hover .layer{
    height: 100%;
    transition: 0.9s;
} 
 
/* ----------------------------------------CONTACT CSS STARTS ------------------------------------- */
.row{
    margin: 40px 0 40px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 30px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 28px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    border-bottom: none;
    transform: translateY(-8px);
    transition: 0.6s;
}
.btn{
    border: 2px solid ;
    background: #805664;
    font-size: 30px;
    padding: 8px;
    border-radius: 8px;
    transition: transform 0.6s;
}
.btn:hover{
    background-color: #ff004f;
    transform: translateY(-8px);
    transition: 0.6s;
    cursor: pointer;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    font-size: 23px;
    border-radius: 8px;    
}
.Copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #303030;
    margin-top: 20px;
    font-size: 20px;
    transition: 0.8s;
}
.Copyright:hover{
    font-size: 22px;
    transition: 0.8s;
}

nav .fas{
    display: none;
}
#msg{
    color: #61b752;
    margin-top: 30px;
    display: block;
}

/* --------------------------------------RESPONSIVE PART STARTS ----------------------------------- */
@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 40%;
        font-size: 26px;
    }
    .header-text h1 span{
        font-size: 50px;
    }
    .header-text h1{
        font-size: 50px;
    }
    nav .fas{
        display: block;
        font-size: 28px;
    }
    .logo{
        margin-top: 20px;
        width: 38%;
    }
    nav ul{
        background: #ff004f;
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col1, .about-col2{
        flex-basis: 100%;
    }
    .about-col1 img{
        width: 100%;
    }
    .container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .tabs-lists{
        color: yellow;
        margin-right: 15px;
        font-size: 15px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}