<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archit Kumar (portfolio)</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/bfe2164814.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- ---------------header section starts ------------ -->
    <div id="header">
        <div class="container">
            <nav>
                <img src="images/logo.jpg" alt="error" class="logo">
                <ul id="sidebar">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-sharp fas fa-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fas fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">

                <h1>
                    Hi, i'm <span> Archit</span>
                </h1>

                <p>
                    Front end developer.
                </p>
            </div>
        </div>
    </div>
    <!-- HEADER PART COMPLETE  -->
   
    <!-- ----------------ABOUT section starts ------------  -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col1">
                    <img src="images/about.jpg.jpg" alt="error">
                </div>
                <div class="about-col2">
                    <h1 class="sub-title">About Me</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus in est odit laudantium
                        itaque sed quod delectus! Quas reprehenderit molestias deserunt non? Corporis nesciunt, velit
                        fugiat quam ipsa atque tempore.</p>

                    <div class="tabs">
                        <p class="tabs-lists active-list" onclick="opentab('Languages')">LANGUAGES</p>
                        <p class="tabs-lists" onclick="opentab('Projectsclubs')">PROJECTS & CLUB</p>
                        <p class="tabs-lists" onclick="opentab('Education')">EDUCATION</p>
                    </div>
                    <div class="tab-content active-tab" id="Languages">
                        <ul>
                            <li><span>C</span> Language <br>Intermediate</li>
                            <li><span>C++</span> Language<br>Intermediate</li>
                            <li><span>HTML</span><br>Intermediate</li>
                            <li><span>CSS</span><br>Intermediate</li>
                            <li><span>JavaScript</span><br>Basic</li>
                        </ul>
                    </div>
                    <div class="tab-content" id="Projectsclubs">
                        <ul>
                            <li><span>Projects :</span> Designed and create Web page for boolviz game</li>
                            <li><span>Club :</span> PiThon Club</li>
                        </ul>
                    </div>
                    <div class="tab-content" id="Education">
                        <ul>
                            <li><span>BCA</span> Currently from Pt DDUMC IIMT college (Meerut, U.P)<br></li>
                            <li><span>12<sup>th</sup></span> St John's Sr Sec School (Meerut, U.P)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------ABOUT SECTION COMPLETE------------------ -->

    <!-- ------------SERVICES ------------ -->
    <div id="service">
        <div class="container">
            <h1 class="sub-title">SERVICES</h1>
            <div class="service-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Front end developer</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, consequatur! In voluptatibus sint laborum voluptate qui asperiores possimus, iure ratione magnam quos cumque? Sapiente est repellat alias? Eum, eius iusto.</p>
                </div>
                <div>
                    <i class="fa-solid fa-crop-simple"></i>
                    <h2>ui designer</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, consequatur! In voluptatibus sint laborum voluptate qui asperiores possimus, iure ratione magnam quos cumque? Sapiente est repellat alias? Eum, eius iusto.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------- SERIVICES SECTION COMPLETED -------------------------- -->

    <!-- -------------------------PORTFOLIO SECTION STARTS ----------------------- -->
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">PORTFOLIO</h1>
            <div class="work-list">
                <div class="work">
                    <img src="images/work-1.jpg" alt="error">
                    <div class="layer">
                        <h3>web developer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis assumenda animi laudantium expedita quaerat officia ratione alias vitae. Nihil voluptates dolorem praesentium magni est unde ad, voluptatibus ex molestias deleniti!</p>
                    </div>
                </div>
                <div class="work">
                    <img src="images/work-2.jpg" alt="error" id="work2image">
                    <div class="layer">
                        <h3>UI designer</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos itaque, eligendi fugit vel eaque harum commodi quaerat excepturi ipsum similique sit eos, est officiis, quia numquam dolor deleniti esse cupiditate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------------PORTFOLIO COMPLETED------------------------------- -->

    <!-- -----------------------------CONTACT FORM STARTED ----------------------------  -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-solid fa-at"></i> architkumar314@gmail.com</p>
                    <p><i class="fa-brands fa-whatsapp"></i>  7078590454</p>
                    <div class="social-icons">
                        <!-- <p>you can also join me on instagram</p> -->
                         <a href="https://www.instagram.com/its___devillll/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                         <a href="https://github.com/Archit314/tutorial" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="contact-right">
                   <form name="submit-to-google-sheet">
                       <input type="text" name="Name" placeholder="your name" required>
                       <input type="email" name="email" placeholder="your email" required>
                       <textarea name="text" rows="6" placeholder="write message" required></textarea>
                       <button type="submit" class="btn">Submit</button>
                   </form> 
                   <span id="msg"></span>
                </div>
            </div>
        </div>

        <!-- -------------------------------------------------FOOTER SECTION STARTED ------------------------------------------------------ -->
        <div class="Copyright">
            <p>Copyright &copy; Archit Kumar. Made by easy Tutorial</p>
        </div>
        <!-- -------------------------------------------------FOOTER SECTION complete ------------------------------------------------------ -->

    </div>


    <!-- THIS SCRIPT IS FOR THE FUNCTIONALITY OF THE THE TABS (LANGUAGES, PROJECT AND CLUB & EDUCATION) -->
    <script>
        var tabslists = document.getElementsByClassName("tabs-lists");
        var tabconts = document.getElementsByClassName("tab-content");
        function opentab(tabname) {
            for (tabslist of tabslists) {
                tabslist.classList.remove("active-list");
            }
            for (tabcont of tabconts) {
                tabcont.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-list");
            document.getElementById(tabname).classList.add("active-tab");
        }
    </script>

    <!-- Script for onclick function for openmenu and closemenu  -->
    <script>
        var sidemenu = document.getElementById("sidebar");
        function openmenu(){
            sidemenu.style.right = "0";
        }
        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>


<!-- THIS SCRIPT IS FOR BACKEND OF CONTACT FORM IN WHICH DETAILS WILL BE SENT TO THE GOOGLE SHEET WHEN USER CLICK ON SUBMIT BUTTON  -->
<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwfPvWvL5vDtsLL2UrTZBT1a9Jsb7FqcbS6dVvTG9wBNr2soIDBooVz_y1JXP7YFGyq/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Your form has been submited successfully!"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>
</body>

</html>